In [41]:
import pandas as pd
import json
from datetime import datetime
import calendar

In [53]:
# Question 2 Sensor Aggregation
with open("./JSON Files/sensor_data.json") as f:
    data = json.load(f)

# Question 3 Stream Sensor Aggregation
# with open("./SenStream/JSON Files/stream_sensor_data.json") as f:
#     data = json.load(f)

In [54]:
df = pd.DataFrame(columns=['temperature','humidity','roomArea','id','timestamp'])

In [55]:
for i in range(0,len(data['array'])) :
    df.loc[i] = [data['array'][i]['temperature'], data['array'][i]['humidity'],data['array'][i]['roomArea'], data['array'][i]['id'],data['array'][i]['timestamp']]

In [56]:
df

     temperature   humidity   roomArea   id      timestamp
0      17.451059  92.547305  roomArea1    1  1616512698744
1      19.993935  91.126938  roomArea2    2  1616512698744
2      24.689225  93.419744  roomArea3    3  1616512698744
3      19.694882  90.922983  roomArea4    4  1616512698744
4      18.958000  97.950772  roomArea5    5  1616512698744
..           ...        ...        ...  ...            ...
145    17.013875  94.098813  roomArea1  146  1616512960271
146    25.310172  94.587089  roomArea2  147  1616512960271
147    22.760486  91.337907  roomArea3  148  1616512960271
148    22.848579  96.924693  roomArea4  149  1616512960271
149    26.077282  95.361672  roomArea5  150  1616512960271

[150 rows x 5 columns]

In [57]:
#  Create new columns 'day' and 'weekday'
df['date'] = df['timestamp']
df['day'] = df['timestamp']
df['weekday'] = df['timestamp']

In [58]:
# Convert timestmap to datetime, day, and weekday 
for i in range(0,len(data['array'])) :
    df['date'][i] = datetime.fromtimestamp(df['timestamp'][i]/1e3)
    df['day'][i] = df['date'][i].day
    df['weekday'][i] = df['date'][i].weekday()

<ipython-input-58-1513dcdfef76>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i] = datetime.fromtimestamp(df['timestamp'][i]/1e3)
<ipython-input-58-1513dcdfef76>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['day'][i] = df['date'][i].day
<ipython-input-58-1513dcdfef76>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekday'][i] = df['date'][i].weekday()

In [59]:
df

,temperature,humidity,roomArea,id,timestamp,date,day,weekday
0,17.451059,92.547305,roomArea1,1,1616512698744,2021-03-23 22:18:18.744000,23,1
1,19.993935,91.126938,roomArea2,2,1616512698744,2021-03-23 22:18:18.744000,23,1
2,24.689225,93.419744,roomArea3,3,1616512698744,2021-03-23 22:18:18.744000,23,1
3,19.694882,90.922983,roomArea4,4,1616512698744,2021-03-23 22:18:18.744000,23,1
4,18.958000,97.950772,roomArea5,5,1616512698744,2021-03-23 22:18:18.744000,23,1
...,...,...,...,...,...,...,...,...
145,17.013875,94.098813,roomArea1,146,1616512960271,2021-03-23 22:22:40.271000,23,1
146,25.310172,94.587089,roomArea2,147,1616512960271,2021-03-23 22:22:40.271000,23,1
147,22.760486,91.337907,roomArea3,148,1616512960271,2021-03-23 22:22:40.271000,23,1
148,22.848579,96.924693,roomArea4,149,1616512960271,2021-03-23 22:22:40.271000,23,1
149,26.077282,95.361672,roomArea5,150,1616512960271,2021-03-23 22:22:40.271000,23,1

In [60]:
# Create function for Switch-Case Replacement Function to Convert the Weekday 
def weekdayConv(weekday) :
    if weekday == 6:
        return 'Sunday'
    elif weekday == 0:
        return 'Monday'
    elif weekday == 1:
        return 'Tuesday'
    elif weekday == 2:
        return 'Wednesday'
    elif weekday == 3:
        return 'Thursday'
    elif weekday == 4:
        return 'Friday'
    elif weekday == 5:
        return 'Saturday'

# Converting the weekday(number) column to weekday(string)
for i in range(0,len(data['array'])) :
    container = weekdayConv(df['weekday'][i])
    df['weekday'][i] = container

<ipython-input-60-89f453247365>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekday'][i] = container

In [67]:
# Check the Aggregation by weekday
# df.groupby(['roomArea','weekday']).agg({'temperature': ['min','max','median','mean'], 'humidity':['min','max','median','mean']})

In [62]:
# Check the Aggregation by date
# df.groupby(['roomArea','day']).agg({'temperature': ['min','max','median','mean'], 'humidity':['min','max','median','mean']})

In [63]:
# Check the Aggregation of Application 3 (SenStream)
# df.describe()
# df.groupby(['roomArea']).agg({'temperature': ['min','max','median','mean'], 'humidity':['min','max','median','mean']})

In [66]:
# df

In [64]:
# df.describe()